{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": ["./"],
                "alias": {
                    "src": "./src"
                }
            }
        ],
        "lodash",
        ["@babel/plugin-transform-runtime"]
    ]

}
